.btn {
  &,
  &:link,
  &:visited {
    position: relative;
    display: inline-block;
    border-radius: 5rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.6rem 4rem;
    transition: all 0.1s;
    box-shadow: 0 1rem 1.6rem rgba(0, 0, 0, 0.3);
    font-size: $default-font-size;

    // Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(0.25rem);
    box-shadow: 0 1rem 1.6rem rgba(0, 0, 0, 0.6);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
  }

  &--green {
    z-index: 1;
    background-color: $color-primary-dark;
    color: $color-white;

    &::after {
      background-color: $color-primary-dark;
    }
  }

  &--animated {
    animation-name: move-in-from-bottom;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s;
  }

  &:hover::after {
    transform: scaleX(2) scaleY(1.8);
    background-color: $color-white;
    opacity: 0;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    font-weight: bold;
    color: $color-primary-dark;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid $color-primary-dark;
    padding: 1rem 2rem;
    transition: all 0.3s;
  }

  &:hover {
    background-color: $color-primary-dark;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-0.05rem);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}
